* {
    margin: auto;
    padding: auto;
}
@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}
// HEADER
#header {
    background-color: beige;
    padding: 20px 8px;
    nav {
        /*display: flex;*/
        ul {
            list-style: none;
            display: flex;
            text-align: center;
            justify-content: space-evenly;
            li a{
              text-decoration: none;  
              color: black;
              font-family: Roboto;
              font-weight: bold;
              
            }
        }
    }
}

// MAIN
