@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}
* {
    margin: auto;
    padding: auto;
}
body {
    font-family: Roboto;
}
// HEADER
#header {
    background-color: slategrey;
    padding: 20px 8px;
    nav {
        
        ul {
            list-style: none;
            display: flex;
            text-align: center;
            justify-content: space-evenly;
            li a{
              text-decoration: none;  
              color: white;
              font-weight: bold;
              
            }
        }
    }
}

// MAIN

// SECTION 1
#section1 {
    background-image: url(../img/banner-1.jpg);
    background-size: cover;
    padding: 150px 0px;
    background-position: center;
    text-align: center;
    .text {
        text-align: center;
        color: white;
        h1 {
            font-weight: bold;
            margin-bottom: 2rem;
        }
    }
    .button{
        margin-top: 3rem;
        .btn {
        
            color: black;
            background-color: white;
            border: 3px solid white;
            text-decoration: none;
            padding: 10px 25px;
            border-radius: 27px;
            margin-top: 2rem;
        }
    }
 

}